.sh-logo {
    display: flex;
    align-items: center;
    height: 55px;
    padding-right: 64px;
}

.sh-animation-svg {
    display: flex;
    justify-content: center;
    width: 100%;

    & > div {
        width: 60%;
    }
}

.sh-fish-image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 1px solid $colorPrimary;
    border-radius: 99999px;
    background-color: rgba( $colorPrimaryDark, .05 );
    flex-shrink: 0;

    .sh-fish-image__item {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
    }

    &.sh-fish-image__big {
        width: 160px;
        height: 160px;

        .sh-fish-image__item {
            width: 80px;
        }

    }

    &.sh-fish-image__inverted {
        border-color: $colorPrimaryLight;
        background-color: rgba( white, .7 );
    }
}

.app {
    min-height: 100vh;
    display: flex;
    
    .sh-main-sidebar {
        display: block;
        flex-shrink: 0;
        height: 100%;
    }

    .sh-main-content {
        width: 35vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $grayscaleBackground;
        padding: 32px;
    }

    .sh-main-detail {
        width: calc( 65vw - 320px );
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .sh-navbar {
        position: relative;

        .sh-logo {
            width: auto;
            height: 32px;
            padding: 0;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    .sh-content {
        position: relative;
        z-index: 0;
    }
    
}

@include media-breakpoint-up(sm) {
    .app {
        .sh-main-sidebar {
            width: 320px;
        }
        .sh-navbar {
            display: none;
        }
    }
}

@include media-breakpoint-down(md) {
    .app {
        .sh-main-sidebar,
        .sh-main-detail {
            display: none;
        }

        .sh-main-content {
            width: 100vw;
            padding: 0px;
        }

        .sh-content {
            padding: 24px;
        }
    }
}