.sh-menu-link {
    .sh-icon {
        color: inherit;
        width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        overflow: hidden;
        font-weight: normal;
    }

    svg {
        fill: currentColor;
    }
}

@include media-breakpoint-up(sm) {
    // .chakra-slide {
    //     box-shadow: none !important;
    // }

    .chakra-portal {
        .chakra-modal__overlay {
            // background: transparent !important;
            z-index: 1400;
        }
    
        & > .chakra-modal__content-container {
            width: 320px !important;
        }
    }
}