$colorPrimary: #2AB796;
$colorPrimaryDark: #00A37D;
$colorPrimaryLight: #A4FFEA;

$colorSecondary: #392F5A;
$colorSecondaryDark: #2600A2;
$colorSecondaryLight: #BAA4FF;

$colorAccent: #FF8811;
$colorAccentDark: #A25100;
$colorAccentLight: #FEF3E2;

$grayscaleTitleActive: #14142b;
$grayscaleBody: #4e4b66;
$grayscaleLabel: #6e7191;
$grayscalePlaceholder: #a0a3bd;
$grayscaleLine: #d9dbe9;
$grayscaleInputBackground: #eff0f6;
$grayscaleBackground: #f7f7fc;
$grayscaleOffWhite: #fcfcfc;

$colorTextPrimary: $grayscaleTitleActive;
$colorTextSecondary: $grayscaleBody;
$colorTextTertiary: $grayscaleLabel;

$colorBackgroundBody: #FFF;
$colorBackgroundPre: #EEE;
$colorBackgroundIns: #fff9c0;